<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layout/base::head"></head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div th:replace="layout/base::preloader" id="preloader"></div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div th:replace="layout/base::logo" class="nav-header"></div>
        <!--**********************************
            Nav header end
        ***********************************-->
		
        <!--**********************************
            Header start
        ***********************************-->
        <div th:replace="layout/base::nav" class="header"></div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div th:replace="layout/base::menu" class="deznav"> </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Empleado</a></li>
					</ol>
                </div>
                
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Formulario Empleado</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" th:action="@{/empleado/add}" th:object="${empleado}" method="post">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="nempleado">Nombre Empleado
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="nempleado" name="nempleado" placeholder="Digite aqui el nombre del empleado" th:field="*{nombreEmpleado}" onkeypress="return sololetras(event)" required minlength="5" maxlength="10">
                                                        <div class="form-text text-danger" th:if="${#fields.hasErrors('nombreEmpleado')}" th:errors="*{nombreEmpleado}"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="aempleado">Apellido Empleado <span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="aempleado" name="aempleado" placeholder="Digite aqui el apellido del empleado" th:field="*{apellidoEmpleado}" onkeypress="return sololetras(event)" required minlength="5" maxlength="10">
                                                        <div class="form-text text-danger" th:if="${#fields.hasErrors('apellidoEmpleado')}" th:errors="*{apellidoEmpleado}"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="dempleado">Dirección Empleado
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="dempleado" name="dempleado" placeholder="Digite aqui la dirección del empleado" th:field="*{direccionEmpleado}" onkeypress="return letrasynum(event)" required minlength="10" maxlength="20">
                                                        <div class="form-text text-danger" th:if="${#fields.hasErrors('direccionEmpleado')}" th:errors="*{direccionEmpleado}"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="templeado">Teléfono Empleado<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="tel" class="form-control" id="templeado" name="templeado" placeholder="Digite aqui el teléfono del empleado" th:field="*{telefonoEmpleado}" onkeypress="return solonumeros(event)" required minlength="7" maxlength="10">
                                                        <div class="form-text text-danger" th:if="${#fields.hasErrors('telefonoEmpleado')}" th:errors="*{telefonoEmpleado}"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            
                                            <div class="col-xl-6">
                                                <!-- <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="corrempleado">Correo Electroníco Empleado
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="email" class="form-control" id="corrempleado" name="corrempleado" placeholder="Digite aqui el correo electroníco del empleado" th:field="*{correoEmpleado}" onkeypress="return sololetrasynum(event)" required minlength="7" maxlength="15">
                                                        <div class="form-text text-danger" th:if="${#fields.hasErrors('correoEmpleado')}" th:errors="*{correoEmpleado}"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="contraempleado">Contraseña Empelado
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="password" class="form-control" id="contraempleado" name="contraempleado" placeholder="Digite aqui la contraseña del empleado" th:field="*{contraseñaEmpleado}" onkeypress="return sololetrasynum(event)" required minlength="5" maxlength="10">         
                                                        <div class="form-text text-danger" th:if="${#fields.hasErrors('contraseñaEmpleado')}" th:errors="*{contraseñaEmpleado}"></div>
                                                    </div>
                                                </div>-->
                                                <div class="form-group row"> 
                                                    <label class="col-lg-4 col-form-label" for="selectcargo">Nombre Cargo
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <select class="form-control default-select" id="selectcargo" name="selectcargo" th:field="*{Cargo}">
                                                            <th:block th:each="e:${cargo}">
                                                                <option th:text="${e.nombreCargo}" th:value="${e.id}"></option>
                                                            </th:block>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="esempleado">Estado Empleado
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <select class="form-control default-select" id="esempleado" name="esempleado" th:field="*{estadoEmpleado}">
                                                            <option value="">Activo</option>
                                                            <option value="">Inactivo</option>
                                                        </select>
                                                        <div class="form-text text-danger" th:if="${#fields.hasErrors('estadoEmpleado')}" th:errors="*{estadoEmpleado}"></div>
                                                    </div>
                                                </div> -->
                                                
                                                <div class="form-group row">
                                                    <div class="col-lg-8 ml-auto">
                                                        <button type="submit" class="btn btn-primary">Registrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div th:replace="layout/base::footer" class="footer"></div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <div th:replace="layout/base::script"></div>

</body>

</html>