<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b72f550c62.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/assets/css/estilosJ.css}">
    
    <title>FORM ACTIVIDAD</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg">
        <div class="logo">
          <img th:src="@{/assets/img/logo/goldenhorizontal.png}">
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" th:href="@{/index}">Home</a>
              </li>
            </ul>
        </div>
    </nav>

    <h1 class="tituloformcargo">Formulario Actividad</h1>
    <div class="contenedorc">    
        <form th:action="@{/actividad/add}" th:object="${actividad}" method="post" class="col s12">
                    
            <div class="form-group row">
                <label for="tipoActi">Tipo Actividad</label>
                <input type="text" class="validate" id="tipoActi" th:field="*{tipoActividad}" required>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('tipoActividad')}" th:errors="*{tipoActividad}"></div>
            </div> 

            <div class="form-group row">
                <label for="fechaActi">Fecha Actividad</label>
                <input type="date" class="validate" id="tipoActi" th:field="*{fechaActividad}" required>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('fechaActividad')}" th:errors="*{fechaActividad}"></div>
            </div> 

            <div class="form-group row">
                <label for="descriActi">Descripción Actividad</label>
                <input type="text" class="validate" id="descriActi" th:field="*{descripcionActividad}" required>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('descripcionActividad')}" th:errors="*{descripcionActividad}"></div>
            </div> 
            <div class="guardarc"> 
                <button type="submit" class="btn btn-outline-dark">Guardar</button>
            </div>
        </form>        
    </div>       
    
    <div class="regresar">     
        <a th:href="@{/index}" class="btn btn-dark">Regresar</a>
    </div>

    <footer>
        <div>
            <h4 class="redess">Redes</h4>
            <p class="redess"><i class="fa-brands fa-instagram"></i> Goldenlions_2021</p>
            <p class="redess"><i class="fa-brands fa-square-facebook"></i> Golden_Lions</p>
        </div>
        
        <div>
            <h4 class="redess">Contactos</h4>
            <p class="redess"><i class="fa-solid fa-phone"></i> 30215187</p>
            <p class="redess"><i class="fa-solid fa-phone"></i> 3589212</p>
        </div>

        <div>
            <h4 class="redess">Ubicación</h4>
            <p class="redess"><i class="fa-solid fa-location-dot"></i> Santa Maria del Lago</p>
            <p class="redess"> Cl. 73 A 74a 1</p>
        </div>
    </footer>
</body>
</html>