<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{../../../assets/css/index.css}">
    <title>INDEX</title>                
</head>
<body>

    <h1>GOLDEN LIONS</h1>

    <div class="contenedori">
        <div class="dropdown mb-3">
            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuEnlace">
                <a th:href="@{/actividad/form}" class="dropdown-item">FORMULARIO ACTIVIDAD</a>

                <br>

                <a th:href="@{/actividad/listas}" class="dropdown-item">BITACORA ACTIVIDAD</a>
            </div>            
        </div>
    </div>

    <br>

    <div class="contenedori">
        <div class="dropdown mb-3">
            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuEnlace">
                <a th:href="@{/bitacora/form}" class="dropdown-item">FORMULARIO BITACORA</a>

                <br>

                <a th:href="@{/bitacora/listas}" class="dropdown-item">BITACORA</a>
            </div>            
        </div>
    </div>

    <br>
    
    <div class="contenedori">
        <div class="dropdown mb-3">
            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuEnlace">
                <a th:href="@{/cargo/form}" class="dropdown-item">FORMULARIO CARGO</a>

                <br>

                <a th:href="@{/cargo/listas}" class="dropdown-item">BITACORA CARGO</a>
            </div>            
        </div>
    </div>

    <br>

    <div class="contenedori">
        <div class="dropdown mb-3">
            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuEnlace">
                <a th:href="@{/categoria/form}" class="dropdown-item">FORMULARIO CATEGORIA</a>

                <br>

                <a th:href="@{/categoria/listas}" class="dropdown-item">BITACORA CATEGORIA</a>
            </div>            
        </div>
    </div>

    <br>

    <div class="contenedori">
        <div class="dropdown mb-3">
            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuEnlace">
                <a th:href="@{/empleado/form}" class="dropdown-item">FORMULARIO EMPLEADO</a>

                <br>

                <a th:href="@{/empleado/listas}" class="dropdown-item">BITACORA EMPLEADO</a>
            </div>            
        </div>
    </div> 

    <br>

    <div class="contenedori">
        <div class="dropdown mb-3">
            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuEnlace">
                <a th:href="@{/implemento/form}" class="dropdown-item">FORMULARIO IMPLEMENTO</a>

                <br>

                <a th:href="@{/implemento/listas}" class="dropdown-item">BITACORA IMPLEMENTO</a>
            </div>            
        </div>
    </div>

    <br>

    <div class="contenedori">
        <div class="dropdown mb-3">
            <div class="dropdown-menu" aria-labelledby="dropdownMenuEnlace">
                <a th:href="@{/login}">LOGIN</a>
            </div>            
        </div>
    </div>
</body>
</html>