<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Menú</title>
    <!-- Favicon icon -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="@{/img/favicon.png"> -->
	<link rel="stylesheet" th:href="@{/vendor/chartist/css/chartist.min.css}">
    <link th:href="@{/vendor/bootstrap-select/dist/css/bootstrap-select.min.css}" rel="stylesheet">
	<link th:href="@{/vendor/owl-carousel/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="menu.html" class="brand-logo" >
                <img class="logo-abbr" th:src="@{/img/logo/lgol.png}">
                <img class="logo-compact" th:src="@{/img/logotext.png}">
                <img class="brand-title" th:src="@{/img/logotext.png}">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		
		<!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="dashboard_bar">
								!Bienvenido Usuario!
                            </div>
                        </div>
                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="javascript:void(0)" role="button" data-toggle="dropdown">
                                    <img th:src="@{/img/profile/profile.jpg}" width="20" alt=""/>
									<!-- <div class="header-info">
										<span class="text-black"><strong>Brian Lee</strong></span>
										<p class="fs-12 mb-0">Admin</p>
									</div> -->
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a th:href="@{/login}" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ml-2">Cerrar Sesión </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Inicio</span>
						</a>
                        <ul aria-expanded="false">
							<li><a th:href="@{menu}">Menú</a></li>
                            <li><a th:href="@{/calendario}">Calendario</a></li>
						</ul>
                    </li>
                    <li><a th:href="@{/configuracion}" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-settings-2"></i>
							<span class="nav-text">Configuración</span>
						</a>
					</li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-notepad"></i>
							<span class="nav-text">Formularios</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a th:href="@{/actividad/formA}">Actividad</a></li>
							<li><a th:href="@{/bitacora/formB}">Bitácora</a></li>
							<li><a th:href="@{/cargo/formC}">Cargo</a></li>
							<li><a th:href="@{/categoria/formCT}">Catégoria</a></li>
							<li><a th:href="@{/empleado/formE}">Empleado</a></li>
							<li><a th:href="@{/implemento/formI}">Implemento</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-network"></i>
							<span class="nav-text">Tablas</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a th:href="@{/actividad/tablaA}">Actividad</a></li>
							<li><a th:href="@{/bitacora/tablaB}">Bitácora</a></li>
							<li><a th:href="@{/cargo/tablaC}">Cargo</a></li>
							<li><a th:href="@{/categoria/tablaCT}">Catégoria</a></li>
							<li><a th:href="@{/empleado/tablaE}">Empleado</a></li>
							<li><a th:href="@{/implemento/tablaI}">Implemento</a></li>
                        </ul>
                    </li>
                </ul>
			</div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-3 col-xxl-4">
						<div class="row">
							<div class="col-xl-12 col-md-6">
								<div class="card">
									<div class="card-header border-0 pb-0">
										<h4 class="fs-20">Eventos Importantes Golden Lions</h4>
									</div>
									<div class="card-body pb-0 dz-scroll height630 loadmore-content" id="latestSalesContent">
										<div class="pb-3 mb-3 border-bottom">
											<p class="font-w600"><a class="text-black">Torneo Liga Juvenil</a></p>
											<div class="d-flex align-items-end">
												<div class="mr-auto">
													<h4 class="fs-14 mb-0"><a class="text-black">Golden Lions</a></h4>
													<span class="fs-12">Ago 2019</span>
												</div>
											</div>
										</div>
										<div class="pb-3 mb-3 border-bottom">
											<p class="font-w600"><a class="text-black">Campeonato Liga Juvenil</a></p>
											<div class="d-flex align-items-end">
												<div class="mr-auto">
													<h4 class="fs-14 mb-0"><a class="text-black">Golden Lions</a></h4>
													<span class="fs-12">Sep 2019</span>
												</div>
											</div>
										</div>
										<div class="pb-3 mb-3 border-bottom">
											<p class="font-w600"><a class="text-black">Torneo Compa Champions Liga Juvenil</a></p>
											<div class="d-flex align-items-end">
												<div class="mr-auto">
													<h4 class="fs-14 mb-0"><a class="text-black">Golden Lions</a></h4>
													<span class="fs-12">Ene 2020</span>
												</div>
											</div>
										</div>
										<div class="pb-3 mb-3 border-bottom">
											<p class="font-w600"><a class="text-black">Campeonato Equipo Liga Kids</a></p>
											<div class="d-flex align-items-end">
												<div class="mr-auto">
													<h4 class="fs-14 mb-0"><a class="text-black">Golden Lions</a></h4>
													<span class="fs-12">Jul 2020</span>
												</div>
											</div>
										</div>
										<div class="pb-3 mb-3 border-bottom">
											<p class="font-w600"><a class="text-black">Torneo Liga Juvenil-Kids</a></p>
											<div class="d-flex align-items-end">
												<div class="mr-auto">
													<h4 class="fs-14 mb-0"><a class="text-black">Golden Lions</a></h4>
													<span class="fs-12">Nov 2019</span>
												</div>
											</div>
										</div>
										<!--<div class="pb-3 mb-3 border-bottom">
											<p class="font-w600"><a class="text-black">Torneo Liga Juvenil</a></p>
											<div class="d-flex align-items-end">
												<div class="mr-auto">
													<h4 class="fs-14 mb-0"><a class="text-black">Golden Lions</a></h4>
													<span class="fs-12">Mar 2021</span>
												</div>
											</div>-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				
					<div class="col-xl-9 col-xxl-8">
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-header border-0 pb-sm-0 pb-5">
										<h4 class="fs-20">Orgullos (Golden Lions)</h4>
										<div class="dropdown custom-dropdown mb-0">
											<div data-toggle="dropdown">
											</div>
										</div>
									</div>
									<div class="card-body">
										<div class="event-bx owl-carousel">
											<div class="items" id="event1">
												<div class="image-bx">
													<img th:src="@{/img/eventss/nik-shuliahin-BWRyS1-KKrs-unsplash.jpg}" alt="">
													<div class="info">
														<p class="fs-18 font-w600"><a class="text-black">Torneo Liga Juvenil</a></p>
														<span class="fs-14 text-black d-block mb-3">Colombia, 2019</span>
													</div>
												</div>
											</div>
											<div class="items" id="event2">
												<div class="image-bx">
													<img th:src="@{/img/eventss/max-winkler-UFIZodJgScQ-unsplash.jpg}" alt="">
													<div class="info">
														<p class="fs-18 font-w600"><a class="text-black">Campeonato Equipo GoldenLions</a></p>
														<span class="fs-14 text-black d-block mb-3">Colombia, 2019</span>
													</div>
												</div>
											</div>
											<div class="items" id="event3">
												<div class="image-bx">
													<img th:src="@{/img/eventss/kenny-eliason-6mRaiW6DDCM-unsplash.jpg}" alt="">
													<div class="info">
														<p class="fs-18 font-w600"><a class="text-black">Torneo Compa Champions Liga Juvenil</a></p>
														<span class="fs-14 text-black d-block mb-3">Colombia, 2020</span>
													</div>
												</div>
											</div>
											<div class="items" id="event4">
												<div class="image-bx">
													<img th:src="@{/img/eventss/jesse-orrico-mse1vdzZXjA-unsplash.jpg}" alt="">
													<div class="info">
														<p class="fs-18 font-w600"><a class="text-black">Campeonato Equipo GoldenLions Kids</a></p>
														<span class="fs-14 text-black d-block mb-3">Colombia, 2020</span>
													</div>
												</div>
											</div>
											<div class="items" id="event5">
												<div class="image-bx">
													<img th:src="@{/img/eventss/kenny-eliason-O4zhy0zLAQc-unsplash.jpg}" alt="">
													<div class="info">
														<p class="fs-18 font-w600"><a class="text-black">Torneo Liga Juneil-Kids</a></p>
														<span class="fs-14 text-black d-block mb-3">Colombia, 2019</span>
													</div>
												</div>
											</div>
											<div class="items" id="event6">
												<div class="image-bx">
													<img th:src="@{/img/eventss/katrina-berban-rsaDNKpKotM-unsplash.jpg}" alt="">
													<div class="info">
														<p class="fs-18 font-w600"><a class="text-black">Torneo Liga Juvenil</a></p>
														<span class="fs-14 text-black d-block mb-3">Colombia, 2021</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; 2022 - Derechos Reservados - LogBlog</p>
			</div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script th:src="@{/vendor/global/global.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
	<script th:src="@{/vendor/chart.js/Chart.bundle.min.js}"></script>
    <script th:src="@{/js/custom2.js}"></script>
	<script th:src="@{/js/deznav-init.js}"></script>
	<script th:src="@{/vendor/owl-carousel/owl.carousel.js}"></script>
	
	<!-- Chart piety plugin files -->
    <script th:src="@{/vendor/peity/jquery.peity.min.js}"></script>
	
	<!-- Apex Chart -->
	<script th:src="@{/vendor/apexchart/apexchart.js}"></script>
	
	<!-- Dashboard 1 -->
	<script th:src="@{/js/dashboard/dashboard-1.js}"></script>
	
	<script>
		function carouselReview(){
			/*  event-bx one function by = owl.carousel.js */
			jQuery('.event-bx').owlCarousel({
				loop:true,
				margin:30,
				nav:true,
				center:true,
				autoplaySpeed: 3000,
				navSpeed: 3000,
				paginationSpeed: 3000,
				slideSpeed: 3000,
				smartSpeed: 3000,
				autoplay: false,
				navText: ['<i class="fa fa-caret-left" aria-hidden="true"></i>', '<i class="fa fa-caret-right" aria-hidden="true"></i>'],
				dots:true,
				responsive:{
					0:{
						items:1
					},
					720:{
						items:2
					},
					
					1150:{
						items:3
					},			
					
					1200:{
						items:2
					},
					1749:{
						items:3
					}
				}
			})			
		}
		jQuery(window).on('load',function(){
			setTimeout(function(){
				carouselReview();
			}, 1000); 
		});
	</script>
</body>
</html>