<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/assets/css/estilos.css">
    <title>Formulario Empleado</title>
</head>
<body>

    <h1>Formulario Empleado</h1>
    <div class="contenedorc">    
        <form th:action="@{/empleado/add}" th:object="${empleado}" method="post" class="col s12">
                    
            <div class="contef">
                <label for="nomEmpleado">Nombre Empleado</label>
                <input type="text" class="validate" id="nomEmpleado" th:field="*{nombreEmpleado}">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('nombreEmpleado')}" th:errors="*{nombreEmpleado}"></div>
            </div> 

            <div class="contef">
                <label for="apellEmpleado">Apellido Empleado</label>
                <input type="text" class="validate" id="apellEmpleado" th:field="*{apellidoEmpleado}">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('apellidoEmpleado')}" th:errors="*{apellidoEmpleado}"></div>
            </div> 

            <div class="contef">
                <label for="direcEmpleado">Direccion Empleado</label>
                <input type="text" class="validate" id="direcEmpleado" th:field="*{direccionEmpleado}">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('direccionEmpleado')}" th:errors="*{direccionEmpleado}"></div>
            </div> 

            <div class="contef">
                <label for="teleEmpleado">Telefono Empleado</label>
                <input type="text" class="validate" id="teleEmpleado" th:field="*{telefonoEmpleado}">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('telefonoEmpleado')}" th:errors="*{telefonoEmpleado}"></div>
            </div> 

            <div class="contef">
                <label for="estaEmpleado">Estado Empleado</label>
                <input type="text" class="validate" id="estaEmpleado" th:field="*{estadoEmpleado}">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('estadoEmpleado')}" th:errors="*{estadoEmpleado}"></div>
            </div> 

            <div class="guardarc"> 
                <button type="submit" class="btn btn-outline-dark">Guardar</button>
            </div>
        </form>        
    </div>       
    
    <div class="regresar">     
        <a th:href="@{/index}" class="btn btn-dark">Regresar</a>
    </div>
</body>
</html>