.bodyB{
    background-color: #f5f1f1;
}
/*Lista bitacora*/

.contenedorb{
    width: 80%;
    margin-left: 11rem;
    margin-top: 5rem;

}

.contenedorb{
    justify-content: center;
    margin: 80px 150px;
}

.contenedorb th, td{
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #000;
}





.btnbregresar{
    margin: 2rem;
}

.btnbcrear{
    float: right;
    margin: 2rem;
    width: 15rem;
}

.logo img{
    width: 200px;
    margin-right: 20px;
}

/*Bitacora formulario*/

.tituloFB{
    text-align: center;
}

.contenedorbitF{
    width: 80%;
    padding: 1rem;
    margin-left: 10rem;
}

.contenedorbitF form{
    margin-left: 10rem;
    margin-top: 3rem;
    padding: 1rem;
}

.contenedorbitF input{
    width: 60%;
    margin-left: 5rem;
}

.guardarb{
    margin: 1rem;
    margin-top: 3rem;
    margin-left: 25rem;
}
#inputselect{
    width: 50%;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 3rem;
    border-radius: 0.3rem;
    border:1px solid rgba(73, 72, 72, 0.349);
}

.selectActividad select{
    width: 50%;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 6.6rem;
    border-radius: 0.3rem;
    border:1px solid rgba(73, 72, 72, 0.349);
}



/*nav*/

nav {
    background-color: #F67F11;
}

.nav-link{
    color: #fff;
}

/*Footer*/
.redess{
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
}

.redess h4{
    text-align: center;
    color: #fff;
}

footer{
    margin-top: 15rem;
    width: 100%;
    align-items: center;
    background-color: #F67F11;
    display: flex;
    justify-content: space-evenly;
}

