.bodyB{
    background-color: #f5f1f1;
}
/*Lista bitacora*/

.contenedorb{
    width: 80%;
    margin-left: 11rem;
    margin-top: 5rem;
}

.btnbregresar{
    margin: 2rem;
}

.btnbcrear{
    float: right;
    margin: 2rem;
    width: 15rem;
}

/*Bitacora formulario*/

.tituloFB{
    text-align: center;
}

.contenedorbitF{
    width: 80%;
    padding: 1rem;
    margin-left: 10rem;
}

.contenedorbitF form{
    margin-left: 10rem;
    margin-top: 3rem;
    padding: 1rem;
}

.contenedorbitF input{
    width: 60%;
    margin-left: 5rem;
}

.guardarb{
    margin: 1rem;
    margin-top: 3rem;
    margin-left: 25rem;
}

/*nav*/

nav {
    background-color: #F67F11;
}

.nav-link{
    color: #fff;
}

/*Footer*/
.redess{
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
}

.redess h4{
    text-align: center;
    color: #fff;
}

footer{
    margin-top: 8rem;
    width: 100%;
    align-items: center;
    background-color: #F67F11;
    display: flex;
    justify-content: space-evenly;
}