<!DOCTYPE html>
<html lang="es-Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM CATEGORIA</title>
</head>
<body>

    <h1>Formulario Categoria</h1>
    <div class="contenedorc">    
        <form th:action="@{/categoria/add}" th:object="${categoria}" method="post" class="col s12">
                    
            <div class="contef">
                <label for="edad">Edad Categoria</label>
                <input type="text" class="validate" id="edad" th:field="*{edadCategoria}" required minlength="1" maxlength="2">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('edadCategoria')}" th:errors="*{edadCategoria}"></div>
            </div> 
            
            <div>
                <label for="cantidad">Cantidad Personas</label>
                <input type="number" class="validate" id="cantidad" th:field="*{cantidadPersonas}" required minlength="1" maxlength="2">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('cantidadPersonas')}" th:errors="*{cantidadPersonas}"></div>
            </div> 

            <div>
                <label for="descripcion">Descripción Categoria</label>
                <input type="text" class="validate" id="descripcion" th:field="*{descripcionCategoria}" required minlength="10" maxlength="15">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('descripcionCategoria')}" th:errors="*{descripcionCategoria}"></div>
            </div>
            
            <div>
                <label for="estado">Estado Categoria</label>
                <input type="text<fa" class="validate" id="estado" th:field="*{estadoCategoria}" required minlength="5" maxlength="10">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('estadoCategoria')}" th:errors="*{estadoCategoria}"></div>
            </div>
            
            <div class="guardarc"> 
                <button type="submit" class="btn btn-outline-dark">Guardar</button>
            </div>
        </form>        
    </div>       

    <div class="regresar">     
        <a th:href="@{/index}" class="btn btn-dark">Regresar</a>
    </div>
</body>
</html>