<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIST CATEGORIA</title>
</head>
<body>

    <div class="contepadre">

        <div class="contenedort">
            <table>
                <thead>
                    <th>Id Categoria</th>
                    <th>Edad Categoria</th>
                    <th>Cantidad Personas</th>
                    <th>Descripción Categoria</th>
                    <th>Estado Categoria</th>
                    <th>Acciones</th>
                </thead>
            
                <tbody>
                    <tr th:if="${categorias.size()>0}" th:each="c:${categorias}">
                        <td th:text="${c.id}"></td>
                        <td th:text="${c.edadCategoria}"></td>
                        <td th:text="${c.cantidadPersonas}"></td>
                        <td th:text="${c.descripcionCategoria}"></td>
                        <td th:text="${c.estadoCategoria}"></td>
                        <td>
                            <a role="button" th:href="@{/categoria/actualizarC/} + ${c.id}" class="btn btn-outline-secondary"
                            onclick="return confirm('¿Estás seguro que deseas actualizar la Categoria?')" >Editar</a> 
    
                            <br>
                            
                            <a role="button" class="btn btn-outline-danger" th:href="@{/categoria/delete/} + ${c.id}" 
                            onclick="return confirm('¿Estas seguro de eliminar la Categoria?');">Eliminar</a> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="regresar">     
            <a th:href="@{/index}" class="btn btn-dark">Regresar</a>
        </div>
        
    </div>
    
</body>
</html>