<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layout/base::head"></head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div th:replace="layout/base::preloader" id="preloader"></div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div th:replace="layout/base::logo" class="nav-header"></div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div th:replace="layout/base::nav" class="header"></div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div th:replace="layout/base::menu" class="deznav"> </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Bitácora</a></li>
                    </ol>
                </div>
                <!-- row -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Listado Registros Bitácora</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example3" class="display min-w850">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Observación</th>
                                                <th>Cantidad Implementos Usados</th>
                                                <th>Fecha</th>
                                                <th>Id Actividad</th>
                                                <th>Fecha Actividad</th>
                                                <th>Id Implemento</th>
                                                <th>Nombre Implemento</th>
                                                <th>Estado</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr th:if="${bitacoras.size()>0}" th:each="b:${bitacoras}">
                                                <td th:text="${b.id}"></td>
                                                <td th:text="${b.observacionesBitacora}"></td>
                                                <td th:text="${b.cantidadImplementosUsados}"></td>
                                                <td th:text="${b.fechaBitacora}"></td>
                                                <td th:text="${b.Actividad.id}"></td>
                                                <td th:text="${b.Actividad.fechaActividad}"></td>
                                                <td th:each="i:${b.Implemento}" th:text="${i.id}"></td>
                                                <td>
                                                    <p th:each="i:${b.Implemento}" th:text="${i.nombreImplemento}"></p>
                                                </td>
                                                <td>
                                                    <a th:if="${b.estadoBitacora==true}" role="button"
                                                        class="btn btn-outline-warning"
                                                        th:href="@{/bitacora/estado/} + ${b.id}"
                                                        onclick="return confirm('¿Estas seguro de cambiar el estado?');">Inactivar</a>

                                                    <a th:if="${b.estadoBitacora==false}" role="button"
                                                        class="btn btn-outline-success"
                                                        th:href="@{/bitacora/estado/} + ${b.id}"
                                                        onclick="return confirm('¿Estas seguro de cambiar el estado?');">Activar</a>
                                                </td>

                                                <!--BOTONES ACCIONES-->
                                                <td>
                                                    <div class="d-flex">
                                                        <!--EDITAR-->
                                                        <a role="button" th:href="@{/bitacora/actualizarB/} + ${b.id}"
                                                            class="btn btn-primary shadow btn-xs sharp mr-1"><i
                                                                class="fa fa-pencil"></i></a>
                                                        <!--ELIMINAR-->
                                                        <a sec:authorize="hasAnyAuthority('COACH')" role="button" th:href="@{/bitacora/delete/} + ${b.id}"
                                                            onclick="return confirm('¿Estas seguro de eliminar la Bitácora?');"
                                                            class="btn btn-danger shadow btn-xs sharp"><i
                                                                class="fa fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div th:replace="layout/base::footer" class="footer"></div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <div th:replace="layout/base::script"></div>

</body>

</html>