<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{../assets/css/estilosN.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/b72f550c62.js" crossorigin="anonymous"></script>
    <title>LISTA IMPLEMENTOS</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg">
        <div class="logo">
            <img th:src="@{/assets/img/logo/goldenhorizontal.png}">
          </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
            </ul>
        </div>
    </nav>


    <div class="contenedorpadre">

        <div class="contenedort" id="tablad">
            <table class="table table-bordered">
                <thead>
                    <th>Id Implemento</th>
                    <th>Tipo Implemento</th>
                    <th>Nombre Implemento</th>
                    <th>Tamaño Implemento</th>
                    <th>Peso Implemento</th>
                    <th>Cantidad Implemento</th>
                    <th>Función Implemento</th>
                    <th>Observaciones Implemento</th>
                    <th>Estado Implemento</th>
                    <th>Id Categoria</th>
                    <th>Descrp. Categoria</th>
                    <th>Acciones</th>
                </thead>
            
                <tbody>
                    <tr th:if="${implementos.size()>0}" th:each="i:${implementos}">
                        <td th:text="${i.id}"></td>
                        <td th:text="${i.tipoImplemento}"></td>
                        <td th:text="${i.nombreImplemento}"></td>
                        <td th:text="${i.tamanoImplemento}"></td>
                        <td th:text="${i.pesoImplemento}"></td>
                        <td th:text="${i.cantidadImplemento}"></td>
                        <td th:text="${i.funcionImplemento}"></td>
                        <td th:text="${i.observacionesImplemento}"></td>
                        <td th:text="${i.estadoImplemento}"></td>
                        <th:block th:each="c:${i.categoria}">
                        <td th:text="${c.id}"></td>
                        <td th:text="${c.descripcionCategoria}"></td>
                        </th:block>
                        <td>
                            <a role="button" class="btn btn-outline-success" th:href="@{/implemento/actualizarI/} + ${i.id}" 
                            onclick="return confirm('¿Estás seguro que deseas actualizar el Implemento?')" >Editar</a> 
    
                            <br>
                            
                            <a role="button" class="btn btn-outline-danger" th:href="@{/implemento/delete/} + ${i.id}" 
                            onclick="return confirm('¿Estas seguro de eliminar el Implemento?');">Eliminar</a> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="regresar">     
            <a th:href="@{/index}" class="btn btn-dark">Regresar</a>
        </div>
        
    </div>
    
    <footer>
        <div>
            <h4 class="redess">Redes</h4>
            <p class="redess"><i class="fa-brands fa-instagram"></i> Goldenlions_2021</p>
            <p class="redess"><i class="fa-brands fa-square-facebook"></i> Golden_Lions</p>
        </div>
        
        <div>
            <h4 class="redess">Contactos</h4>
            <p class="redess"><i class="fa-solid fa-phone"></i> 30215187</p>
            <p class="redess"><i class="fa-solid fa-phone"></i> 3589212</p>
        </div>

        <div>
            <h4 class="redess">Ubicación</h4>
            <p class="redess"><i class="fa-solid fa-location-dot"></i> Santa Maria del Lago</p>
            <p class="redess"> Cl. 73 A 74a 1</p>
        </div>
    </footer>


</body>
</html>