<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layout/base::head"></head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div th:replace="layout/base::preloader" id="preloader"></div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div th:replace="layout/base::logo" class="nav-header"></div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div th:replace="layout/base::nav" class="header"></div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div th:replace="layout/base::menu" class="deznav"> </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Implemento</a></li>
                    </ol>
                </div>

                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Formulario Implemento</h4>
                            </div>
                            <div class="card-body">
                                <div th:if="${duplicado!=null}" class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>Implemento Duplicado</strong>
                                    <div th:text="${duplicado}"></div>
                                </div>
                                <div class="form-validation">
                                    <form class="form-valide" th:action="@{/implemento/add}" th:object="${implemento}"
                                        method="post">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="tiimple">Tipo Implemento
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="tiimple"
                                                            name="tiimple"
                                                            placeholder="Digite aqui el tipo de implemento"
                                                            th:field="*{tipoImplemento}"
                                                            onkeypress="return sololetras(event)" required minlength="5"
                                                            maxlength="40">
                                                        <div class="form-text text-danger"
                                                            th:if="${#fields.hasErrors('tipoImplemento')}"
                                                            th:errors="*{tipoImplemento}"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="nimple">Nombre
                                                        Implemento<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="nimple"
                                                            name="nimple"
                                                            placeholder="Digite aqui el nombre del implemento"
                                                            th:field="*{nombreImplemento}"
                                                            onkeypress="return sololetrasynum(event)" required
                                                            minlength="5" maxlength="40">
                                                        <div class="form-text text-danger"
                                                            th:if="${#fields.hasErrors('nombreImplemento')}"
                                                            th:errors="*{nombreImplemento}"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="timple">Tamaño
                                                        Implemento
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="number" class="form-control" id="timple"
                                                            name="timple"
                                                            placeholder="Digite aqui el tamaño del implemento"
                                                            th:field="*{tamanoImplemento}"
                                                            onkeypress="return solonumeros(event)" required
                                                            minlength="1" maxlength="3">
                                                        <div class="form-text text-danger"
                                                            th:if="${#fields.hasErrors('tamanoImplemento')}"
                                                            th:errors="*{tamanoImplemento}"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="pimple">Peso
                                                        Implemento<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="number" class="form-control" id="pimple"
                                                            name="pimple"
                                                            placeholder="Digite aqui el peso del implemento"
                                                            th:field="*{pesoImplemento}"
                                                            onkeypress="return solonumeros(event)" required
                                                            minlength="1" maxlength="3">
                                                        <div class="form-text text-danger"
                                                            th:if="${#fields.hasErrors('pesoImplemento')}"
                                                            th:errors="*{pesoImplemento}"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="cimple">Cantidad
                                                        Implemento<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="number" class="form-control" id="cimple"
                                                            name="cimple"
                                                            placeholder="Digite aqui la cantidad del implemento"
                                                            th:field="*{cantidadImplemento}"
                                                            onkeypress="return solonumeros(event)" required
                                                            minlength="1" maxlength="3">
                                                        <div class="form-text text-danger"
                                                            th:if="${#fields.hasErrors('cantidadImplemento')}"
                                                            th:errors="*{cantidadImplemento}"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="fimple">Función
                                                        Implemento<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="fimple"
                                                            name="fimple"
                                                            placeholder="Digite aqui la función del implemento"
                                                            th:field="*{funcionImplemento}"
                                                            onkeypress="return sololetras(event)" required minlength="5"
                                                            maxlength="40">
                                                        <div class="form-text text-danger"
                                                            th:if="${#fields.hasErrors('funcionImplemento')}"
                                                            th:errors="*{funcionImplemento}"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="oimple">Observaciones
                                                        Implemento<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <textarea class="form-control" id="oimple" name="oimple"
                                                            rows="5"
                                                            placeholder="Digite aqui las observaciones del implemento"
                                                            th:field="*{observacionesImplemento}"
                                                            onkeypress="return sololetras(event)" required minlength="5"
                                                            maxlength="40"></textarea>
                                                        <div class="form-text text-danger"
                                                            th:if="${#fields.hasErrors('observacionesImplemento')}"
                                                            th:errors="*{observacionesImplemento}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="selectcate">Categoria
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <select class="form-control default-select" id="selectcate"
                                                            name="selectcate" th:field="*{categoria}">
                                                            <th:block th:each="i:${categoria}">
                                                                <option th:text="${i.descripcionCategoria}"
                                                                    th:value="${i.id}"></option>
                                                            </th:block>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="esimple">Estado
                                                        Implemento
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <select class="form-control default-select" id="esimple"
                                                            name="esimple" th:field="*{estadoImplemento}">
                                                            <option value="">Activo</option>
                                                            <option value="">Inactivo</option>
                                                        </select>
                                                        <div class="form-text text-danger"
                                                            th:if="${#fields.hasErrors('estadoImplemento')}"
                                                            th:errors="*{estadoImplemento}"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-8 ml-auto">
                                                        <button type="submit" class="btn btn-primary">Registrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div th:replace="layout/base::footer" class="footer"></div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <div th:replace="layout/base::script"></div>

</body>

</html>