body{
    background-color: #f5f1f1;
}

nav {
    background-color: #F67F11;
}

.nav-link{
    color: #fff;
}


/*Vistas Empleado*/

h1{
    text-align: center;
}

.contef{
    margin-left: 50px;
}

.contenedore{
margin: 10px 200px;

}

.contenedorc{
    margin: 20px 600px;
}


.contenedori{
    margin-bottom: auto;
    
}

.guardarc{
    margin-top: 10px;
}




/*FOOTER*/

.redess{
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
}

.redess h4{
    text-align: center;
    color: #fff;
}

footer{
    margin-top: 50px;
    width: 100%;
    align-items: center;
    background-color: #F67F11;
    display: flex;
    justify-content: space-evenly;
}